body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Blur-zoom Container */
.img-hover-zoom--blur {
  transition: transform .5s, filter .5s ease-in-out;
  filter: blur(2px);
  /* transform: scale(1.2); */
}

.food-category:hover .img-hover-zoom--blur {
  filter: blur(0);
  transform: scale(1.2);
}

/* Text Overlay */
.text-overlay {
  position: absolute;
  /* font-size: 16px; */
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: opacity .5s;
}

.food-category:hover .text-overlay {
  opacity: 0;
}

/* Quick-zoom Container */
.img-hover-zoom--quick-zoom {
  transform-origin: 0 0;
  transition: transform .5s, visibility .5s ease-in;
}

.meals:hover .img-hover-zoom--quick-zoom {
  transform: scale(1.2);
}

.meal-image {
  max-height: 300px; 
  width: 500px;
  object-fit: cover;
  border-radius: 20px;
  ;
}

@media  only screen and (max-width: 400px) {

  #category-detail, #meal-detail, #home-food {
    width: 100% !important;
  }

  /* iframe {
    width: 360px;
    height: 250px;
  } */
}
